<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.service.user.adapter.persistence.mybatis.mapper.UserMapper">

    <resultMap id="UserMap" type="org.atlas.service.user.domain.entity.UserEntity">
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByIdIn" parameterType="list" resultMap="UserMap">
        SELECT u.*
        FROM user u
        WHERE u.id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByCriteria" parameterType="list" resultMap="UserMap">
        SELECT u.*
        FROM user u
        <include refid="criteriaWhereClause"/>
        <if test="pageRequest.hasSort()">
            ORDER BY ${pageRequest.sortBy}
            <if test="pageRequest.isSortDescending()">
                DESC
            </if>
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>

    <select id="findById" resultMap="UserMap">
        SELECT u.*
        FROM user u
        WHERE u.id = #{id}
    </select>

    <select id="findByUsername" resultMap="UserMap">
        SELECT u.*
        FROM user u
        WHERE u.username = #{username}
    </select>

    <select id="findByEmail" resultMap="UserMap">
        SELECT u.*
        FROM user u
        WHERE u.email = #{email}
    </select>

    <select id="findByPhoneNumber" resultMap="UserMap">
        SELECT u.*
        FROM user u
        WHERE u.phone_number = #{phoneNumber}
    </select>

    <select id="countByCriteria" resultType="long">
        SELECT count(u.id)
        FROM user u
        <include refid="criteriaWhereClause"/>
    </select>

    <insert id="insert" parameterType="org.atlas.service.user.domain.entity.UserEntity">
        INSERT INTO user (username, password, first_name, last_name, email, phone_number)
        VALUES (#{username}, #{password}, #{firstName}, #{lastName}, #{email}, #{phoneNumber})
    </insert>

    <sql id="criteriaWhereClause">
        WHERE LOWER(u.username) LIKE LOWER(CONCAT('%', #{criteria.keyword}, '%'))
        OR LOWER(u.first_name) LIKE LOWER(CONCAT('%', #{criteria.keyword}, '%'))
        OR LOWER(u.last_name) LIKE LOWER(CONCAT('%', #{criteria.keyword}, '%'))
    </sql>
</mapper>
