<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.platform.orm.mybatis.user.mapper.CustomerMapper">

    <resultMap id="CustomerMap" type="org.atlas.service.user.domain.Customer">
        <result column="user_id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByUserId" resultMap="CustomerMap">
        select c.*
        from customer c
        where c.user_id = #{userId}
    </select>

    <insert id="insert" parameterType="org.atlas.service.user.domain.Customer">
        insert into customer (user_id, credit)
        values (#{userId}, #{credit})
    </insert>

    <update id="decreaseCredit">
        update customer c
        set c.credit = c.credit - #{amount}
        where c.user_id = #{userId}
          and c.credit >= #{amount}
    </update>
</mapper>
